.App {
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 20px;
}

.search-button {
  background: #b23a48;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  outline: none;
}

.search-button:hover {
  background: #8c2f39;
}

.search-button:focus,
.search-button:active {
  background-color: #461220;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  max-width: 80%;
}

.recipes::after {
  content: "";
  width: 100%;
  margin: 0.5rem;
}

@media (min-width: 551px) {
  .recipes::after {
    margin: 0 0.5rem;
  }
}

@media (min-width: 801px) {
  .recipes::after {
    width: calc(33% - 0.5rem);
    max-width: 400px;
  }
}
